* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    font-size: 1.5rem;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#bookdemo {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#bookdemo:hover {
    background-color: #0056b3;
}

.menu-btn {
    display: none; /* Hide by default for desktop */
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide the main links for small screens */
    }

    .menu-btn {
        display: block; /* Show the menu button */
    }
}
