* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.header-color {
    width: 100%;
    height: 500px;
    background: 
        linear-gradient(60deg, #1e1e1e 20%, #FFA80A 60%, #1e1e1e 100%), 
        url('../assets/images/abstractcover.png');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

#logo {
    font-size: 2.4rem;
    color: white;
}

#orange{
    color: orange;
}

#orange-highlight{
    color: orange;
}
#sub-text{
    margin-bottom: 4px;
}
#sub-text-link a{
    text-decoration: none;
    color: antiquewhite;
}
.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.intro-container{
    display: flex;
    padding: 0 30px;
    margin-top: 60px;
}

.intro-text{
    padding-left: 20px;
}
#bookdemo {
    padding: 10px 20px;
    background-color: #282827; 
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#bookdemo-res{
    background-color: #bd7e0a;
    border-radius: 5px;
}

#bookdemo:hover {
    background-color: #FF7A00; 
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}


.menu-btn {
    display: none; 
    cursor: pointer;
}


.sidebar {
    position: fixed;
    top: 0;
    right: -100%; 
    height: 100vh;
    width: 250px;
    background-color: #333333;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease; 
    z-index: 999;
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 15px 20px; 
    display: block; 
    width: 100%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar a:hover {
    background-color: #FFA80A; 
    color: #1e1e1e; 
    transform: scale(1.05); 
    border-radius: 5px; 
}

.sidebar.active {
    right: 0; 
}

.sidebar li {
    margin-bottom: 20px;
    list-style: none;
    width: 100%;
}

#main-text{
    color: white;
    font-size: 3rem;
    margin-bottom: 12px;
}

#sub-text{
    color: rgb(239, 237, 237);
    font-weight: 700;
}
#sub-text-last{
    color: white;
    margin-bottom: 40px;
}
.intro-banner Lottie{
    z-index: 1;
}

.course-section{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course-intro {
    text-align: center;
    margin-bottom: 32px;
}

.course-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:30px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-bottom: 40px;
}

.course-card{
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(135deg, #000000, #1a1a1a, #333333);
    width: 370px;
    height: 430px;
    border-radius: 24px;
    flex-shrink: 0;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    gap:50px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.course-card:hover {
    box-shadow: 0 0 25px 10px rgba(64, 64, 64, 0.5);
    transform: scale(1.02);
}
.card-header{
    margin-top: 12px;
    padding-right: 20 px;
}
.course-icons{
    align-items: center;
    justify-content: center;
    gap: 40px;
    display: flex;
    padding: 0 20px;
    margin-top: 24px;
}
#course-description{
    font-weight: 700;
}
#course-price{
    font-weight: 700;
}
.course-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#course-btn{
    width: 70%;
    padding: 0 20px;
    font-weight: 700;
    height: 30px;
    background: #bd7e0a;
    border: none;
    border-radius: 8px;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#course-btn:hover {
    box-shadow: 0 0 15px 1px rgba(189, 126, 10, 0.6);
    transform: scale(1.05);
}


.about-us-bg{
    padding: 40px;
    display: flex;
    background: #bd7e0a;
    height: 600px;
    margin-bottom: 40px;
    border-radius: 20px;
    flex-direction: row;
}

.about-title{
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap:40px;
}

.icons-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.icon-box-wh {
    width: 48%;
    height: 200px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -76px;
    font-weight: bold;
    border-top-left-radius: 120px;
}
.icon-box-wh-btm {
    width: 48%;
    height: 200px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom-right-radius: 120px;
    font-weight: bold;
}
.icon-box {
    width: 48%;
    height: 200px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -76px
}
.icon-box-btm{
    width: 48%;
    height: 200px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px
}

#aboutheader-h1 {
    font-size: 4rem;
    color: white;
  }

  #aboutheader-h2 {
    font-size: 2.1rem;
    color: black;
    font-weight: 600;
    
  }

.stats-container{
    display: flex;
    flex-direction: column;
}
.stats-intro{
    text-align: center;
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}
.piechart-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 40px;
}
.piechart-container{
    width: 50%;
}
.stats-text{
    font-weight: 700;
    position: relative;
    right:150px;
    display: flex;
    align-items: center;
    list-style: square;
}

.stats-outro{
    margin-top: 40px;
    width:49%;
    
    line-height: 1.6;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}


@media (max-width: 768px) {

    .header-color{
        height: 800px;
    }
    #logo{
        font-size: 1.8rem;
    }

    .nav-links {
        display: none; 
    }

    .menu-btn {
        display: block; 
    }

    .sidebar{
        width: 100%;
    }
    .intro-container{
        flex-direction: column;
    }
}
